<font size="5" color="15848F"><b>
<a href="https://chintaibest.com/sumitai_rank/">2019年　東京住みたい街ランキング</a>
</b></font>
<font size="3" color="15848F"><b>
<?=$this->Form->create('ranking', ['url' => ['action' => 'view'], 'type' => 'post'])?>
<?=$this->Form->input('townSearch', ['label' => '街名'])?>
<?=$this->Form->input('reasonSearch', ['label' => '理由'])?>
<?=$this->Form->submit('ランキングを見る')?>
<?=$this->Form->end()?>
</b></font>